<form
  class="register-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
  (focusout)="onBlur()"
>

  <!-- USERNAME -->
  <div class="form-field">
    <label>Username</label>
    <div class="input-wrapper">
      <i class="fa-solid fa-user"></i>
      <input
        type="text"
        placeholder="Enter username"
        formControlName="username"
      />
    </div>

    <small *ngIf="username.invalid && submitted">
      <span *ngIf="username.errors?.['required']">
        Username is required
      </span>
      <span *ngIf="username.errors?.['minlength']">
        Minimum 3 characters
      </span>
    </small>
  </div>

  <!-- EMAIL -->
  <div class="form-field">
    <label>Email</label>
    <div class="input-wrapper">
      <i class="fa-solid fa-envelope"></i>
      <input
        type="email"
        placeholder="Enter email"
        formControlName="email"
      />
    </div>

    <small *ngIf="email.invalid && submitted">
      <span *ngIf="email.errors?.['required']">
        Email is required
      </span>
      <span *ngIf="email.errors?.['email']">
        Invalid email format
      </span>
    </small>
  </div>

  <!-- PASSWORD -->
  <div class="form-field">
    <label>Password</label>
    <div class="input-wrapper">
      <i class="fa-solid fa-lock"></i>
      <input
        type="password"
        placeholder="Enter password"
        formControlName="password"
      />
    </div>

    <small *ngIf="password.invalid && submitted">
      <span *ngIf="password.errors?.['required']">
        Password is required
      </span>
      <span *ngIf="password.errors?.['minlength']">
        Minimum 6 characters
      </span>
    </small>
  </div>

  <!-- CONFIRM -->
  <div class="form-field">
    <label>Confirm Password</label>
    <div class="input-wrapper">
      <i class="fa-solid fa-lock"></i>
      <input
        type="password"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
    </div>

    <small *ngIf="confirmPassword.invalid && submitted">
      <span *ngIf="confirmPassword.errors?.['required']">
        Confirm your password
      </span>
      <span *ngIf="confirmPassword.errors?.['mismatch']">
        Passwords do not match
      </span>
    </small>
  </div>

  <!-- SUBMIT -->
  <button type="submit" class="submit-btn">
    SIGN UP
  </button>

</form>
