:host {
  display: block;
  width: 100%;
  background-color: #111;
  border-bottom: 2px solid #222;
}

.header-row-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.col-rank {
  flex: 0 0 80px;
}

.col-name {
  flex: 1;
}

.col-score {
  flex: 0 0 120px;
}