.iframe-container {
  width: 100%;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  background: #000;
  border-radius: 12px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}