.card-footer {
  margin-top: auto;
  padding-top: 28px;
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid rgba(0, 180, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}