<div class="table-body-container">
  @if (store.isLoading()) {
    <div class="loading-overlay">
      <div class="spinner"></div>
      <span>UPDATING</span>
    </div>
  }

  <div class="rows-wrapper">
    @for (player of store.players(); track player.uid; let i = $index) {
      <app-table-row
        [class.highlight-me]="player.uid === store.currentUserUid()"
        [rank]="getRank(i)"
        [name]="player.usernameDisplay"
        [score]="player.highestScore">
      </app-table-row>
    } @empty {
      @if (!store.isLoading()) {
        <div class="empty-state">players not found</div>
      }
    }
  </div>

  @if (store.showStickyUser() && store.currentUserData()) {
    <div class="sticky-footer">
      <app-table-row
        class="sticky-highlight"
        [rank]="store.currentUserData().rank || '??'"
        [name]="store.currentUserData().usernameDisplay"
        [score]="store.currentUserData().highestScore">
      </app-table-row>
    </div>
  }
</div>