:host {
  display: block;
  width: 100%;
}

.rankings-table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #0d0d0d;
  border: 1px solid #222;
  border-radius: 8px;
  overflow: hidden; 
  position: relative;
}
.rankings-table-container::-webkit-scrollbar {
  width: 6px;
}

.rankings-table-container::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}