.game-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #dadce0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
